[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flake8 = "*"
keras = "*"
matplotlib = "*"
tensorflow = "*"
opencv-python = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.8"
