name: c-gans
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
    - name: Build Docker Image
      run: docker build -t c-gans .
    - name: Run Black & Tests
      run: docker run --rm --entrypoint ./run_black_and_tests.sh c-gans